<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.andersen.internetShop" />
    <context:property-placeholder location="classpath:app.properties" />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <bean id="userRepository" class="com.andersen.internetShop.dao.UserRepository" >
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="authService" class="com.andersen.internetShop.service.AuthService" >
        <constructor-arg name="userRepository" ref="userRepository" />
    </bean>

    <bean id="orderRepository" class="com.andersen.internetShop.dao.OrderRepository" >
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="orderService" class="com.andersen.internetShop.service.OrderService" >
        <constructor-arg name="orderRepository" ref="orderRepository" />
    </bean>

    <bean id="productRepository" class="com.andersen.internetShop.dao.ProductRepository" >
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate" />
        <constructor-arg name="dataSource" ref="dataSource" />
    </bean>
    <bean id="warehouseRepository" class="com.andersen.internetShop.dao.WarehouseRepository" >
        <constructor-arg name="productRepository" ref="productRepository" />
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="warehouseService" class="com.andersen.internetShop.service.WarehouseService" >
        <constructor-arg name="warehouseRepository" ref="warehouseRepository" />
    </bean>

    <bean id="bucketRepository" class="com.andersen.internetShop.dao.BucketRepository" >
        <constructor-arg name="productRepository" ref="productRepository" />
        <constructor-arg name="warehouseRepository" ref="warehouseRepository" />
        <constructor-arg name="authService" ref="authService" />
        <constructor-arg name="jdbcTemplate" ref="jdbcTemplate" />
        <constructor-arg name="dataSource" ref="dataSource" />
    </bean>

    <bean id="bucketService" class="com.andersen.internetShop.service.BucketService" >
        <constructor-arg name="bucketRepository" ref="bucketRepository" />
        <constructor-arg name="warehouseService" ref="warehouseService" />
    </bean>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource" >
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate" >
        <property name="dataSource" ref="dataSource" />
    </bean>
</beans>